<div class="container">
    <form #clienteForm="ngForm">
    <div class="row text-center mt-5">
      <div class="col">
        <h2>Manteminiento de Departamentos alterno</h2>
      </div>
    </div>
  
    <div class="row text-center mt-4">
      <div class="col">
        <div class="row justify-content-center">
          <div class="col-4">
                    
              <div class="card">
                <div class="card-header">
                  Datos Departamentos
                </div>
                <div class="card-body">
                  
                  <input type="text" name="id" placeholder="ID" id="txtId" class="form-control" [(ngModel)]="departamentsLista.id" disabled="true">
                  <br>
                  <input  type="text" name="Name" placeholder="Nombre" id="txtName" class="form-control" [(ngModel)]="departamentsLista.name"  #Name="ngModel" required>
                  <div class="alert alert-danger" *ngIf="Name.invalid && (Name.dirty || Name.touched)">
                    <div >
                      Debe ingresar un nombre                    
                    </div>
                    
                  </div>
  
                  <br>

                  <input type="text" name="adress" placeholder="adress" id="txtadres" class="form-control" [(ngModel)]="departamentsLista.descripcion" #adress="ngModel" required>
                 
                  <div class="alert alert-danger" *ngIf="adress.invalid && (adress.dirty || adress.touched)">
                    <div >
                      Debe ingresar un direccion                   
                    </div>
                    
                  </div>
                  <br>
                  <input type="text" name="Phone" placeholder="Telefono" id="txtPhone" class="form-control" [(ngModel)]="departamentsLista.phone"  #Phone="ngModel" required>
                  <div class="alert alert-danger" *ngIf="Phone.invalid && (Phone.dirty || Phone.touched)">
                    <div >
                      Debe ingresar un Telefono                    
                    </div>
                    
                  </div>
                 
                  <br>

                
                             
                  
                  <select [(ngModel)]="opcionSeleccionado" name="status" #status="ngModel" class="form-control"  (change)="capturar()"  >
                    <option
                    *ngFor="let opt of options"
                    [selected]="opt ===ngSelect"
                    [value]="opt" >
                    {{ opt }}
                  </option>
                    
                 </select>
                 <p [hidden]="opcionSeleccionado == '0'">Haz seleccionado la opción # {{ verSeleccion }}

                 <br>
                  <select [(ngModel)]="ngSelectEmpresa"  name="empresas" #empresas="ngModel" class="form-control"  (change)="capturarEmpresa()"  >
                    <option
                    *ngFor="let opt of datatableEmpresas"
                     [value]="opt.id" >
                    {{ opt.name}}
                  </option>
                    
                 </select>


  
               <p [hidden]="ngSelectEmpresa == 0">Haz seleccionado la opción # {{ verSeleccionEmpresa }}
                  <br>
                  <div class="col">
                    <button class="btn btn-success" type="button"  >Agregar</button>
                    <button class="btn btn-warning m-2" type="button"  >Modificar</button>
                    
                    <button class="btn btn-primary m-2" type="button"  (click)="clear()" >Limpiar</button>
                  </div>
  
                </div>
              </div>
  
            
          </div>
          <div class="col-8">
            <div class="card">
              <div class="card-header">
                Listado de Empresas
              </div>
              <div class="card-body">
              <div class="col">
                <table id="dtMascota" class="table table-striped" style="width: 100%;">
                  <thead>
                    <tr>
                      <th>Seleccionar</th>
                      <th>Id</th>
                      <th>Nombre</th>
                      <th>descripcion</th>
                      <th>Telefono</th>
                      <th>Fecha Creación</th>
                      <th>Empresa</th>
                      <th>Estado</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of datatable  | paginate: { itemsPerPage: 2, currentPage: p }">
                      <td><input type="button" value="Seleccionar" (click)="onSetData(item)"></td>
                      <td> {{ item.id }} </td>
                      <td>{{ item.name}}</td>
                      <td>{{ item.descripcion }}</td>
                      <td>{{ item.phone}}</td>
                      <td>{{ item.createDate}}</td>
                      <td>{{ item.id_empresa}}</td>
                      <td>{{ item.status }}</td>
                    </tr>
                  </tbody>
                </table>
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
              </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  
    
    
  </div>
  </form>
